{
  "presets": [
    "es2015",
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": ["lodash", "react-hot-loader/babel", "transform-object-rest-spread"]
}